body {
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
}

h1, h3, h4 {
    text-align: center;
}

p, li {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

/* Header */
header > h1 {
    margin-bottom: 5px;
}

header > h4 {
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
} 
hr {
    margin-top: 10px;
    width: 75%;
    height: 3px;
    background-color: black;
}

/* Professional Summary */
/* Technical Skills */
.box {
    margin-left: 12.5%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}
/* Education */
/* Projects */
/* Professional Experience */